<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.3.1" targetFramework="net472" />
  <package id="51Degrees.mobi-core" version="3.2.21.1" targetFramework="net472" />
  <package id="51Degrees.mobi-data" version="3.2.18.11" targetFramework="net472" />
  <package id="51Degrees.mobi-web" version="3.2.21.1" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
</packages>