<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PublicDirectory" value="public\" />
    <add key="MasterPassword" value="password" />
    <add key="SettingsStorageProvider" />
    <add key="SettingsStorageProviderConfig" />
    <add key="LoadEJResourcesFromAssembly" value="true" />
    <add key="EJResources" value="jsrender:true;themes:true;" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <sessionState cookieless="false"/>
    <!-- Execution Timeout default is 110 seconds. Increase it to several hours when migrating data between providers
       or when rebuilding the search engine index or page links.
       1 hour = 3600 seconds. -->
    <httpRuntime executionTimeout="3600" maxRequestLength="20480" requestValidationMode="0.0"/>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <pages enableViewState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="Anthem" namespace="Anthem" tagPrefix="anthem"/>
      </controls>
    </pages>
  </system.web>
</configuration>