<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AzureConnString" value="DefaultEndpointsProtocol=http;AccountName=unittestonazurestorage;AccountKey=R7Q+icdH5wY4FGWdQW9xUN0tUr9HCSRC4NJow5EL8fSk3tePIAhF7ZvRpn3UULC8NmaRRgpGMXd7N2yTWLD3gw=="/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
