<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AzureConnString" value="DefaultEndpointsProtocol=http;AccountName=annount_name;AccountKey=account_key"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
